/* ==========================================
	Background
====================================== */

* {
	padding: 0;
	margin: 0;
}

a {
  text-decoration:none;
}



img {
  max-width:100%;
}



/* ==========================================
	Navagation
====================================== */

.header {
	width: 100%;
	height: 160px;

	
	
	h1 {
		float: left;
		margin-left: 6%;
		
		
			
	}

	
	
	nav {
		text-align: center;
		float: right;
		clear: right;
		margin-right: 10%;
		margin-top: 35px;

		
		
		ul {

			li {
				padding-right: 130px;
				display: inline-block;
				


			}
			li:nth-child(2)
					{
					padding-right:0;

				}
		}
	}

	
	
}

/* ==========================================
	About 
====================================== */

.wrapper {
	padding: 0;
	margin: 0 auto;
	width: 90%;

	}

	section {
		.title {
			padding-top: 270px;
			h2 {
				text-align: center;
				padding-top: 30%;
				margin-top: 0;

			}

		}

	}


/* ==========================================
	Shop - Layout 
====================================== */

section {
	.shop_title {
		padding-top: 200px;
			margin-bottom: 7%;
			text-align: center;
		}

	.open1, .open2{
		text-align: center;
			p {
				margin-bottom: 10px;
			}
		img {
			max-width: 500px;
			width: 100%;
			margin-bottom: -30px;
		}
		.button {
		@include button(white);
		max-width: 500px;
		width: 100%;
	}
	}

	.info{
		margin-top: 5%;
		text-align: center;
	}

}


/* ==========================================
	Contact - layout
====================================== */

	section {
		.contact_title {
			padding-top: 175px;
			margin-bottom: 1%;
			text-align: center;
		}

	

		table {
			
			margin: 0 auto;
			text-align: center;
		}
		.button2 {
			@include button(white);
			max-width: 300px;
			width: 100%;
			margin-bottom: 5%;
		}
		.contact_form {
			margin-top: 3%;
			text-align: center;
		}

		.contact_info {
			text-align: center;
		}


		input {
			width: 300px;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid 2px $black;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		textarea {
			width: 300px;
			height: 200px;
			margin-bottom: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid 2px $black;

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
	}


/* ==========================================
	shop1 - layout
====================================== */
section {
.container_gallery {
	text-align: center;
	.photo1, .photo2, .photo3, .photo4{
		img {
			max-width: 600px;
			width:100%;
			border: solid 5px white;
		}
	}
}

}

.text_contanier {
	.info2 {
		padding-top: 8%;
	}
}

.open1 {
	width: 100%;
	
	input {
		font-family: $font1;
		background-color: white;
		max-width: 600px;
		width: 100%;
		margin-top: 10px;
	}

}

/* ==========================================
	Footer - Layout
====================================== */

	footer {
		text-align: center;

		img {
			padding-top: 5%;
			margin-bottom: 50px;
			
		}


		
		p {
			padding-bottom: 15px;
		}
	}

/* ==========================================
	slider - Layout
====================================== */


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  max-width: 600px;
  padding: 0;
  margin: 0 auto;

  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  text-align: center;
  width: 100%;
  border: solid 5px white;

  }

/* ==========================================
	Error message - Layout
====================================== */

.message {

	text-align: center;
	font-family: $font2;
	font-size: 2em;
	border: solid red 7px;
}

.thankYouMessage {

	text-align: center;
	padding-top: 80px;
	padding-bottom: 190px;
	font-family: $font2;
	font-size: 2em;
}

