/*==================
	Header
==================*/

	@media #{$tablet_header} {
		.header {

			h1 {
				font-size: 2.5em;
				padding-top: 15px;
			}
			nav {
		
		
				ul {

					li {
						padding-right: 80px;
						display: inline-block;
					}
				}
			}
	
		}

		section {

	.shop_title {
		padding-top: 220px;
	}

	.contact_title {
		padding-top: 220px;
	}

	.open1 {
	.button2 {
		margin-top: -10px;
	}
}

	.title {
		padding-top: 310px;
	}

	.title {
		h2 {
			padding-top: 260px;
		}
	}
}

	

}
	


	

	@media #{$mobile_header} {
		.header {
			
			.social_media {
				
			}

			h1 {
				font-size: 2.5em;
			}

			img {
				display: block;
				padding-bottom: 25px;
  				margin-left: auto;
  				margin-right: auto;
  				float: none;
			}
			nav {
						float: none;
						text-align: center;
						margin:0;
						margin-right: 0;
						padding-top: 10px;
						padding-bottom: 10px;
						background: #272727;
						font-size: 1.7em;


		
				ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
			}
	
		}
	

	section {

	.shop_title {
		padding-top: 220px;
	}

	.contact_title {
		padding-top: 220px;
	}

	.open2 {
		padding-top: 110px;
	}
	.open1 {
	.button2 {
		margin-top: -10px;
	}
}

	.title {
		padding-top: 310px;
	}
}


}

@media #{$nav_fix} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 1.7em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}


}
}
	
@media #{$social_fix} {
	.header {
		.social_media {
			padding-top: 5px;
		}

	}
}


/* ==========================================
	SHOP
====================================== */

	@media #{$tablet_shop} {
		.open1, .open2 {
			margin-top: 40px; 

			
		}

	}



	/* ==========================================
	SHOP1
====================================== */


