/*==================
	Header
==================*/

	@media #{$tablet_header} {
		.header {

			h1 {
				font-size: 2.5em;
				padding-top: 15px;
			}
			nav {
		
		
				ul {

					li {
						padding-right: 80px;
						display: inline-block;
					}
				}
			}
	
		}

		section {

	.shop_title {
		padding-top: 220px;
	}

	.contact_title {
		padding-top: 220px;
	}

	.open1 {
	.button2 {
		margin-top: -10px;
	}
}

	.title {
		padding-top: 310px;
	}

	.title {
		h2 {
			padding-top: 260px;
		}
	}
}

	

}
	


	

	@media #{$mobile_header} {
		.header {
			
			.social_media {
				
			}

			h1 {
				font-size: 2.5em;
			}

			img {
				display: block;
				padding-bottom: 25px;
  				margin-left: auto;
  				margin-right: auto;
  				float: none;
			}
			nav {
						float: none;
						text-align: center;
						margin:0;
						margin-right: 0;
						padding-top: 10px;
						padding-bottom: 10px;
						background: #272727;
						font-size: 1.7em;


		
				ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
			}
	
		}
	

	section {

	.shop_title {
		padding-top: 220px;
	}

	.contact_title {
		padding-top: 220px;
	}

	.open2 {
		padding-top: 110px;
	}
	.open1 {
	.button2 {
		margin-top: -10px;
	}
}

	.title {
		padding-top: 310px;
	}
}


}

@media #{$mobile_header2} {

	.header {
		h1 {
			text-align: center;
			margin: 28px;
			
		}

		.social_media {
			text-align: center;
			margin: 0;
			margin-top: 0px;
		}
	}


	}


	@media #{$mobile_header3} {

		.header {
			h1 {
				margin-top: -13px;
				margin-left: 95px;
			}
		.social_media {
			text-align: center;
			margin: 0;
			margin-right: 145px;
			
		}
			nav{

				ul {

					li {
						padding-right: 6px;
						font-size: 1.6em;
					}
				}
			}
		}
	}

@media #{$nav_fix} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 1.7em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}


}
}

@media #{$nav_fix2} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 1.7em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}
}
}

@media #{$nav_fix3} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 1.7em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 75px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}


}
	
	}

@media #{$nav_fix4} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 1.3em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 80px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}


}
	
	}

@media #{$nav_fix5} {
	.header{

		.social_media {
		padding-top: 60px;
	}
		nav{
			float: none;
			text-align: center;
			margin:0;
			margin-right: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background: #272727;
			font-size: 0.9em;
			margin-top: 100px;

		

		ul {
						

					li {
						
						padding-right: 50px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
	}


}
	
	}




	
@media #{$social_fix} {
	.header {
		.social_media {
			padding-top: 5px;
		}

	}
}


/* ==========================================
	SHOP
====================================== */

	@media #{$tablet_shop} {
		.open1, .open2 {
			margin-top: 40px; 

			
		}

	}

	@media #{$tablet_shop12} {
		.open1, .open2 {
			p {
				font-size: 0.9em;
			}

			
		}

	}





	/* ==========================================
	SHOP mancard & ace
====================================== */

@media #{$shop_fix} {

.wrapper {

	.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0 auto;
  float: left;
  
  }

  .man_info {

  	float: left;
  	max-width: 45%;
  	margin-left: 20px;
  	padding: 0;
  	text-align: center;
  	margin-top: 2%;

  	

 	 }

 	 .buy_button {
 	 	float: left;
 	 	width: 35%;
 	 	margin-left: 70px;
 	 	margin-top: 1%;
 	 }

 	 .man_info2 {
 	 	display: none;
 	 }

	}

	.header {

		height: 130px;
	}

	.wrapper {
		.title {
			padding-top: 175px;
		}
	}

}

@media #{$shop_fix2} {

.wrapper {

	.shop_title{
		padding-top: 250px;
	}

	.man_info {
		margin-top: 0;
	}
	
	}

}

@media #{$shop_fix3} {

.wrapper {

	.shop_title{
		padding-top: 250px;
	}

	.man_info {
		display: none;
	}

	
	}

	.contact_title {
		margin-top: 40px;
	}

}

@media #{$shop_fix4} {

.wrapper {

	.man_info {
		margin-top: 4%;
	}

	
	}

}

@media #{$shop_fix5} {

.wrapper {

	.man_info {
		display: none;
	}

	
	}

}
