/*==================
	Header
==================*/

	@media #{$tablet_header} {
		.header {
			nav {
		
		
				ul {

					li {
						padding-right: 80px;
						display: inline-block;
					}
				}
			}
	
		}
	}
	

	@media #{$mobile_header} {
		.header {
			
			.social_media {
				display: none;
			}

			img {
				display: block;
				padding-bottom: 25px;
  				margin-left: auto;
  				margin-right: auto;
  				float: none;
			}
			nav {
						float: none;
						text-align: center;
						margin:0;
						margin-right: 0;
						padding-top: 10px;
						padding-bottom: 10px;
						background: #272727;
						font-size: 1.7em;


		
				ul {
						

					li {
						
						padding-right: 140px;
						display: inline-block;


						a {
							color: white;
						}
					}
				}
			}
	
		}
	

	section {

	.shop_title {
		padding-top: 220px;
	}

	.contact_title {
		padding-top: 220px;
	}

	.open2 {
		padding-top: 110px;
	}
	.open1 {
	.button2 {
		margin-top: -10px;
	}
}

	.title {
		padding-top: 310px;
	}
}
}
	



/* ==========================================
	SHOP
====================================== */

	@media #{$tablet_shop} {
		.open1, .open2 {
			margin-top: 40px; 
		}

		.open1 {
	.button2 {
		margin-top: -10px;
	}

	}
}

	/* ==========================================
	SHOP1
====================================== */


