/* =================
	colors
==================*/

$color1: #Bc2f36; //red color
$color2: lighten( $color1, 13%); //light red
$color3: #04819e; // blue color
$purple: #9e3f89;
$purple2: lighten($purple, 13%);
$black: #272727;
$black2: #202020;
$blue: #015c65;
$blue2: lighten($blue, 13%);

/* =================
	font
==================*/

$font1: 'Pacifico', cursive;
$font2: 'Nunito', sans-serif;
$font3: 'Kite One', sans-serif;

/* =================
	media
==================*/

$tablet_header: "screen and (max-width : 760px)";
$mobile_header: "screen and (max-width : 510px)";
$mobile_header2: "screen and (max-width : 475px)";
$mobile_header3: "screen and (max-width : 455px)";

$tablet_shop:  "screen and (max-width : 640px)";
$tablet_shop1: "screen and (max-width : 933px)";
$tablet_shop11: "screen and (max-width : 780px)";
$tablet_shop12: "screen and (max-width : 688px)";

$nav_fix: "screen and (max-width : 587px)";
$nav_fix2: "screen and (max-width : 918px)";
$nav_fix3: "screen and (max-width : 655px)";
$nav_fix4: "screen and (max-width : 530px)";
$nav_fix5: "screen and (max-width : 455px)";

$social_fix: "screen and (max-width : 454px)";

$shop_fix: "screen and (min-width : 940px)";
$shop_fix2: "screen and (max-width : 1052px)";
$shop_fix3: "screen and (max-width : 918px)";
$shop_fix4: "screen and (min-width : 1101px)";
$shop_fix5: "screen and (max-width : 939px)";

$video_fix: "screen and (max-width : 1144px)";
$video_fix2: "screen and (max-width : 564px)";


