/* =================
	colors
==================*/

$color1: #Bc2f36; //red color
$color2: lighten( $color1, 13%); //light red
$color3: #04819e; // blue color
$black: #272727;
$black2: #202020;
$blue: #015c65;
$blue2: lighten($blue, 13%);

/* =================
	font
==================*/

$font1: 'Pacifico', cursive;
$font2: 'Nunito', sans-serif;
$font3: 'Kite One', sans-serif;

/* =================
	media
==================*/

$tablet_header: "screen and (max-width : 760px)";
$mobile_header: "screen and (max-width : 510px)";

$tablet_shop:  "screen and (max-width : 640px)";
$tablet_shop1: "screen and (max-width : 933px)";
$tablet_shop11: "screen and (max-width : 780px)";
$tablet_shop12: "screen and (max-width : 688px)";